 
  <ion-content>
    <img [src]="imageUrl" [id]="imageId" *ngIf="showImage" alt="pinch-zoom"/>
  </ion-content>

  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button color="danger" (click)="closeModal()" title="Close">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" title="Options Menu">
  <ion-fab-button>
    <ion-icon name="apps-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="success" (click)="saveImage(imageId)" title="Download This image">
      <ion-icon name="cloud-download-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="warning" (click)="presentActionSheetFaceSwap()" *ngIf="enableFaceSwap" title="Face Swap This image">
      <ion-icon name="happy-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-button color="danger" (click)="deleteImage(imageId)" title="Delete This image">
    <ion-icon name="trash-outline"></ion-icon>
  </ion-fab-button>
  </ion-fab-list>
</ion-fab>