<ion-progress-bar type="indeterminate" *ngIf="loader"></ion-progress-bar>

<div class="ion-padding">

    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100vh;">
        <ion-col size-lg="7" size="12" style="text-align: center;">
          <img style="width: 500px;" src="/assets/base_output_00573_.png" class="ion-card-header-image">
        </ion-col>
        <ion-col size-lg="3" size="12" class="noPadding">
        <form [formGroup]="loginForm">
          <ion-input label="Login" placeholder="Username" formControlName="login" label-placement="floating" fill="outline" placeholder="Type User" 
          [ngModel]="loginValue" (ngModelChange)="loginValue = $event.toLowerCase()"
          lowercase shape="round"></ion-input>
          <br/>
          <ion-input label="Password" type="password" formControlName="password" label-placement="floating" fill="outline" placeholder="Type Password" shape="round"></ion-input>
        </form>
          <br/>
          <ion-button expand="block" color="primary" fill="outline" (click)="login()" [disabled]="loginForm.invalid" shape="round">Login
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
          </ion-button> 
            <div class="ion-padding">
              <ion-row>
              <ion-col>
                <ion-button expand="block" (click)="resetPassword()" class="link-cursor" fill="outline" color="danger" shape="round">Reset Password
                  <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                </ion-button>
              </ion-col>  
              <ion-col>
              <ion-button expand="block" color="secondary" fill="outline" (click)="register()" shape="round">Sign up
                <ion-icon slot="start" name="person-add-outline"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</div>


