<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
        <form [formGroup]="loginForm">
          <ion-input label="Login" placeholder="Username" formControlName="login" label-placement="floating" fill="outline" placeholder="Type User"></ion-input>
          <br/>
          <ion-input label="Password" type="password" formControlName="password" label-placement="floating" fill="outline" placeholder="Type Password"></ion-input>
          <div slot="label">Reset <ion-text color="danger">Password</ion-text></div>
        </form>
          <br/>
          <ion-button expand="block" color="primary" fill="outline" (click)="login()">Login</ion-button>  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-label>No Account?</ion-label>
      <ion-button  color="secondary" fill="outline" (click)="register()">Sign up</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
