<ion-progress-bar type="indeterminate" *ngIf="loader"></ion-progress-bar>

<ion-content class="ion-padding">
  <form [formGroup]="resetPasswordForm" *ngIf="resetPasswordStatus01">
    <ion-input label="Username" placeholder="Username" formControlName="username" label-placement="floating" fill="outline" placeholder="Type Username" shape="round"></ion-input>
    <br/>
    <ion-button expand="block" color="primary" fill="outline" (click)="resetPassword()" [disabled]="resetPasswordForm.invalid" shape="round">Reset Password</ion-button>
  </form>
  <form [formGroup]="resetPasswordForm2" *ngIf="resetPasswordStatus02">
    <ion-input label="Token" placeholder="Token" formControlName="token" label-placement="floating" fill="outline" placeholder="Type Token" shape="round"></ion-input>
    <br/>
    <ion-input label="Password" type="password" formControlName="password" label-placement="floating" fill="outline" placeholder="Type Password" shape="round"></ion-input>
    <br/>
    <ion-input label="Confirm Password" type="password" formControlName="confirmPassword" label-placement="floating" fill="outline" placeholder="Type Password" shape="round"></ion-input>
    <br/>
    <ion-button expand="block" color="primary" fill="outline" (click)="resetPassword2()" [disabled]="resetPasswordForm2.invalid" shape="round">Reset Password</ion-button>
  </form>
  <br/>
  
</ion-content>

<ion-footer>
  <div class="ion-padding">
    <ion-button expand="block" color="danger" fill="outline" routerLink="/login" shape="round">Cancel</ion-button>
  </div>
</ion-footer>