<app-toggle [title]="'Folders'"></app-toggle>

<ion-content [fullscreen]="true">
  <ion-grid class="noPadding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="5" class="noPadding">
  <div *ngFor="let item of folderList">
  <ion-list class="noPadding">
    <ion-item id="{{item._id}}" button (click)="openFolder(item._id)">
      <ion-icon name="folder" slot="start"></ion-icon>
      <ion-label>{{item.name}}</ion-label>
      <ion-label slot="end">Images:</ion-label>
      <ion-badge slot="end" color="primary">{{item.images.length}}</ion-badge>
    </ion-item>
    <ion-item color="danger" *ngIf="deleteMode">
      <ion-toggle (click)="markFolderToDelete(item._id)" color="warning">Delete Folder?</ion-toggle>
    </ion-item>
    <div id="app"></div>
    <gallery gesture="true" id="{{item.name}}" [items]="images" thumbPosition="bottom"></gallery>
  </ion-list>
  <br *ngIf="desktop" />
  </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!deleteMode">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="markFoldersToDelete()" color="danger">
        <ion-icon name="trash"></ion-icon >
      </ion-fab-button>
      <ion-fab-button (click)="openModal()" color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="deleteMode" activated="true">
    <ion-fab-button (click)="cancelDelete()" color="warning">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="deleteFolders()" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      
    </ion-fab-list>
  </ion-fab>
  
</ion-content>


