/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.imageIconSizePlaceholder {
  font-size: 152px;

  
}

.ion-card-header-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ion-card-header-image {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ion-alert-custom.error {
  .alert-title {
    color: var(--ion-color-danger) !important;
  }
}

.ion-alert-custom.warning {
  .alert-title {
    color: var(--ion-color-warning) !important;
  }
}

.ion-alert-custom.info {
  .alert-title {
    color: var(--ion-color-primary) !important;
  }
}

.ion-alert-custom.success {
  .alert-title {
    color: var(--ion-color-success) !important;
  }
}

.link-cursor {
  cursor: pointer;
}

.ion-profile-image {
  border-radius: 5px
}

.negative-prompt {
   --highlight-color: var(--ion-color-danger) !important;
}



ion-range {
  --bar-border-radius: 4px;
  --knob-border-radius: 4px;
  transform: translateY(-1rem)
}



ion-card {
  ion-card-header {
    ion-card-title {
      text-align: center;
    }
  }

  ion-card-content {
    .queue-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      ion-label {
        font-weight: bold;
      }
    }
  }
}


