<app-toggle [title]="'Profile'"></app-toggle>

<ion-content class="ion-padding">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto" >
            <img alt="Profile Picture" class="" class="ion-profile-image" src="{{userProfile.image}}" />
          </ion-col>
        </ion-row>
      </ion-grid>
      <br/>
      <ion-input label="Email" value="{{userProfile.email}}" [disabled]="true" label-placement="floating" fill="outline" placeholder="Type User"></ion-input>
      <br/>
      <ion-input label="First Name" value="{{userProfile.first_name}}" [disabled]="true" label-placement="floating" fill="outline" placeholder="Type User"></ion-input>
      <br/>
      <ion-input label="Last Name" value="{{userProfile.last_name}}" [disabled]="true" label-placement="floating" fill="outline" placeholder="Type User"></ion-input>
      <br/>
      <ion-input label="Plan" value="{{userProfile.plan}}" [disabled]="true" label-placement="floating" fill="outline" placeholder="Type User"></ion-input>
      <br/>
</ion-content>


